html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    text-align: center;
    margin: 80px;
}

h2{ font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    margin: 50px;
    text-align: center;
    color: white;
}

main{
    width: 700px;
    height: 160px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
}

ul{
    font-family: Arial;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:40px;
}

img{
    border-radius: 10px;
    width: 160px;
}

img:hover{
    cursor: pointer;
    border: 1px solid white;
    transform: scale(1.2);
}
.botao{
    margin-top: 40px;
    background-color: black;
    color: white;
    border:1.5px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
}
.botao:hover{
    cursor:pointer;
    border: 3px solid white;
    transform: scale(1.5);
}